<!-- text-layout es la clase definida en style.css -->
<div class="text-layout">
    <h1>Pipes básicos</h1>
    <p>Pipes incluidos en Angular - Usualmente en el Common Module.</p>
</div>

<!-- div con clases de PrimeFlex -->
<div class="p-grid">
    <div class="p-col-4">
        <p-card header="uppercase" [subheader]="nombreLower | uppercase">{{ nombreLower | uppercase }}</p-card>
    </div>
    <div class="p-col-4">
        <p-card header="lowercase" [subheader]="nombreLower | lowercase">{{ nombreLower | lowercase }}</p-card>
    </div>
    <div class="p-col-4">
        <p-card header="titlecase" [subheader]="nombreCompleto | titlecase">{{ nombreCompleto | titlecase }}</p-card>
    </div>
</div>

<!-- text-layout es la clase definida en style.css -->
<div class="text-layout">
    <h1>Pipe Date</h1>
    <p>Pipe para manipular fechas.</p>
</div>

<!-- div con clases de PrimeFlex -->
<div class="p-grid">
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date | short</li>
                <li>fecha | date | long</li>
                <li>fecha | date | custom (MMMM, yyyy)</li>
            </ul>
            <hr>
            <ul>
                <li>fecha | date:'long':'GMT-2'</li>
                <li>fecha | date:'long':'':'en'</li>
                <li>fecha | date:'long':'':'fr'</li>
            </ul>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card>
            <ul>
                <li>{{fecha}}</li>
                <li>{{fecha | date}}</li>
                <li>{{fecha | date:'short'}}</li>
                <li>{{fecha | date:'long'}}</li>
                <li>{{fecha | date:'MMMM, yyyy'}}</li>
            </ul>
            <hr>
            <ul>
                <li>{{fecha | date:'long':'GMT-2'}}</li>
                <li>{{fecha | date:'long':'':'en'}}</li>
                <li>{{fecha | date:'long':'':'fr'}}</li>
            </ul>
        </p-card>
    </div>
</div>