<!-- text-layout es la clase definida en style.css -->
<div class="text-layout">
    <h1>Pipes personalizados</h1>
    <p>Pipes creados por {{'nosotros' | mayusculas}}.</p>
</div>

<p-toolbar>
    <div class="p-toolbar-group-left">
    </div>
    <div class="p-toolbar-group-right">
        <button pButton icon="pi pi-sort" class="p-mr-1" label="Por nombre" (click)="cambiarOrden('nombre')"></button>
        <button pButton icon="pi pi-sort" class="p-mr-1 p-button-success" label="Vuela" (click)="cambiarOrden('vuela')"></button>
        <button pButton icon="pi pi-sort" class="p-mr-1 p-button-success" label="Por color" (click)="cambiarOrden('color')"></button>
    </div>
</p-toolbar>

<div class="p-grid p-mb-5">
    <div class="p-col p-mt-2">
        <!-- slice:0 crea una copia de heroes -->
        <p-table [value]="heroes | slice:0 | ordenar:ordenarPor">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela | titlecase}}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toolbar class="text-layout">
    <div class="p-toolbar-group-left">
        <p>El ordenamiento se hace directamente con la funcionaliad de la tabla</p>
    </div>
    <div class="p-toolbar-group-right">
    </div>
</p-toolbar>
<div class="p-grid">
    <div class="p-col p-mt-2">
        <!-- slice:0 crea una copia de heroes -->
        <p-table [value]="heroes | slice:0">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre">Nombre>
                        <p-sortIcon field="nombre"></p-sortIcon>
                    </th>
                    <th pSortableColumn="vuela">Vuela>
                        <p-sortIcon field="vuela"></p-sortIcon>
                    </th>
                    <th pSortableColumn="color">Color>
                        <p-sortIcon field="color"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela | titlecase}}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>