html,
body {
    margin: 10px;
    /* utilizamos las varibles globales definidas en el tema de PrimeNG */
    background-color: var(--surface-b);
    font-family: var(--font-family);
}

.text-layout {
    color: var(--text-color);
}